@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

:root {
    --dark: #011627;
    --yellow: #FDE74C;
    --magenta: #FF3366;
    --teal: #2EC4B6;
  }

body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Saira Semi Condensed";
    font-stretch: expanded;
    font-size: x-large;
    background-color: var(--dark);
}

text {
    pointer-events: none; /* Make text "non selectable" */
    color: var(--dark);
}

section {
    color: var(--yellow);
    display: flex; /* Use flexbox */
    flex-direction: column;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    /* Add other styles as needed */
}
